<h1>Help</h1>
<p>How to use this application?</p>
<p>It is easy to find out it from the first view. Here is a list of capabilities you able to do after you log in. You can:</p>
<ul>
  <li>Add/edit/remove your income notes</li>
  <li>Add/edit/remove expense notes</li>
  <li>Get report about you income and expense by date period</li>
</ul>