
<div class="container">
    <h1>Welcome to calculator of your incomes and expenses</h1>
    <h2>Sign up or Login to account</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Login", 'login', class: "btb btn-lg btn-primary"%>
</div>